(LPAREN, '(')
(NUMBER, '3')
(NUMBER, '2')
(OPERATOR, '+')
(RPAREN, ')')
(LPAREN, '(')
(NUMBER, '7')
(NUMBER, '5')
(OPERATOR, '-')
(RPAREN, ')')
(LPAREN, '(')
(NUMBER, '2')
(NUMBER, '4')
(OPERATOR, '*')
(RPAREN, ')')
(LPAREN, '(')
(NUMBER, '9')
(NUMBER, '3')
(OPERATOR, '/')
(RPAREN, ')')
(LPAREN, '(')
(NUMBER, '9')
(NUMBER, '2')
(OPERATOR, '//')
(RPAREN, ')')
(LPAREN, '(')
(NUMBER, '9')
(NUMBER, '2')
(OPERATOR, '%')
(RPAREN, ')')
(LPAREN, '(')
(NUMBER, '2')
(NUMBER, '5')
(OPERATOR, '^')
(RPAREN, ')')
(LPAREN, '(')
(NUMBER, '42')
(IDENTIFIER, 'VAR')
(RPAREN, ')')
(LPAREN, '(')
(IDENTIFIER, 'VAR')
(RPAREN, ')')
(LPAREN, '(')
(NUMBER, '0')
(RES, 'RES')
(RPAREN, ')')
(LPAREN, '(')
(LPAREN, '(')
(NUMBER, '3.14')
(NUMBER, '2.0')
(OPERATOR, '*')
(RPAREN, ')')
(LPAREN, '(')
(IDENTIFIER, 'VAR')
(IDENTIFIER, 'MEM')
(RPAREN, ')')
(OPERATOR, '+')
(RPAREN, ')')